@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Movement-black';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/Movement-Black.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Movement-thin';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(../fonts/Movement-DirectThin.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Kinetic-light';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(../fonts/Kinetic-Light.woff2) format('woff2');
    }
}
