.page-enter-active,
.page-leave-active {
    transition: all 0.4s ease;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.page-enter-to,
.page-leave-from {
    opacity: 1;
    transform: translateX(0);
}
